.navItemList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  text-decoration: none;
  background-color: #3956a0;

  li {
    padding: 10px;
  }
}

.navLink {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in;
  

  &:hover {
    background-color: white;
    color: #3956a0;
  }
}
